.entryListItem {
    margin-top: 4px;
    margin-bottom: 8px;
}

.entryDate {
    padding-top: 4px;
    font-size: 24px;
    font-weight: bold;
}


.userLink img {
    vertical-align: middle;
}

.withoutPeople {
    color: #a3a3a3;
}

.completionBox {
    height: 250px;
    position: absolute;
    background: #ffffff;
    border: 1px solid #769DC0;
}

.completionHidden {
    display: none;
}

.completionRow {
    padding: 2px;
}

.completionRow:hover {
    cursor: pointer;
    background-color: #e0ffff;
}

.completionRow.completionRowSelected {
    cursor: pointer;
    background-color: #add8e6;
}


#moreEntries {
    font-weight: bold;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 20px;
}

.wokoButtonRow {
    padding: 4px;
}

.loader {
    background-image: url("ajax-loader.gif");
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 38px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.loginPage h2 img {
    float: left;
    padding-right: 4px;
}

html, body {
        height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -91px;
}
.push {
    height: 120px;
}

footer{
    height: 80px;
}
footer {
    border-top: solid 1px #CCC;
    color: #333;
    color: #333;
    background: #EEE;
    padding-top: 10px;
}

span.commands .btn-group {
    text-align: right;
}

.entryListItem .people {
    padding-top: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-bottom: 4px;
}

.entryText {
    padding: 8px;
    border-bottom: 1px dotted #d3d3d3;
}

.wokoProperties th, .wokoProperties td {
    padding: 4px;
}

.srEntry, .srUser {
    margin-bottom: 8px;
}

.srEntry:hover, .srUser:hover {
    background-color: #ebf7ff;
}

.wokoProperties .userLink {
    display: inline-block;
}


/* For listEntries */
#entries {
    background: url('images/bg-cahier.png');
}

#entries .entryListItem{
    padding: 8px;

}
#entries .userLink {
    padding-top: 5px;
}

#entries .entryDate {
    font-family: 'Architects Daughter', cursive;
    padding: 0;
}

#entries .entryText, #entries .entryText p{
    padding: 8px;
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
    border: none;
}

#entries .entryParticipants{
    padding-top: 5px;
}



