.entryListItem {
    margin-top: 4px;
    margin-bottom: 8px;
}

.entryDate {
    padding-top: 4px;
    font-size: 24px;
    font-weight: bold;
}

.entryParticipants {
    text-align: right;
}

.userLink img {
    vertical-align: middle;
}

.withoutPeople {
    color: #a3a3a3;
}

.completionBox {
    width: 200px;
    height: 250px;
    position: absolute;
    background: #ffffff;
    border: 1px solid #769DC0;
}

.completionHidden {
    display: none;
}

.completionRow {
    padding: 2px;
}

.completionRow:hover {
    cursor: pointer;
    background-color: #e0ffff;
}

.completionRow.completionRowSelected {
    cursor: pointer;
    background-color: #add8e6;
}

#moreEntries:hover {
    text-decoration: underline;
    color: #6666ff;
    background-color: #a5a5ff;
    cursor: pointer;
}

#moreEntries {
    background-color: #dadafe;
    font-weight: bold;
    color: #a1a1ff;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 10px;
}

.wokoButtonRow {
    padding: 4px;
}

.loader {
    background-image: url("ajax-loader.gif");
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 38px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.loginPage h2 img {
    float: left;
    padding-right: 4px;
}

<<<<<<< HEAD
html, body {
        height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -170px;
}
footer, .push {
    height: 170px;
}
footer {
    color: #333;

}

.links-wrapper {
    border-top: solid 1px #CCC;
    border-bottom: solid 1px #CCC;
    color: #333;
    background: #EEE;
    margin-bottom: 10px;
    padding: 10px 0;
}

=======
span.commands .btn-group {
    text-align: right;
}

.entryListItem .people {
    padding-top: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-bottom: 4px;
}

.entryText {
    padding: 8px;
    border-bottom: 1px dotted #d3d3d3;
}

.wokoProperties th, .wokoProperties td {
    padding: 4px;
}
>>>>>>> f6dec977ae26f9ebcdf8c5d1365ac646f1b653b1
