h1 {
    border: none;
}

#entries {
    border-left: 1px solid #d3d3d3;
}

.clearfix {
    clear: both;
}

.entryListItem {
    max-width: 600px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 6px;
    border-top: 1px solid #d3d3d3;
}

.entryListItem .user {
    float: left;
}

.entryListItem .date {
    float: right;
}

.entryListItem .commands {
    float: right;
}

.withoutPeople {
    color: #a3a3a3;
}

.completionBox {
    width: 200px;
    height: 300px;
    position: absolute;
    background: #ffffff;
    border: 4px solid red;
}

.completionHidden {
    display: none;
}

.completionBox .hl {
    font-weight: bold;
}

.completionRow:hover {
    cursor: pointer;
    background-color: #e0ffff;
}

.completionRow.completionRowSelected {
    cursor: pointer;
    background-color: #add8e6;
}
