<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://mysql-ecahier.jelastic.com/ecahier</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">MKUBKdVU3X</property>
        <property name="connection.pool_size">10</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="current_session_context_class">thread</property>
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <!--<property name="show_sql">true</property>-->
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <property name="hibernate.connection.useUnicode">true</property>
        <property name="hibernate.connection.characterEncoding">UTF-8</property>
        <property name="jdbc.batch_size">0</property>

        <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.timeout">300</property>

        <property name="compass.engine.connection">ram://index</property>
        <property name="compass.engine.all.analyzer">ram://index</property>
        <property name="compass.engine.analyzer.default.stopwords">+de,du,le,la,1,2,3,4,5,6,7,8,9,a,à,et,ou,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z</property>
        <event type="pre-update">
            <listener class="org.hibernate.cfg.beanvalidation.BeanValidationEventListener"/>
        </event>
        <event type="pre-insert">
            <listener class="org.hibernate.cfg.beanvalidation.BeanValidationEventListener"/>
        </event>
        <event type="post-update">
            <listener class="org.compass.gps.device.hibernate.embedded.CompassEventListener"/>
        </event>
        <event type="post-insert">
            <listener class="org.compass.gps.device.hibernate.embedded.CompassEventListener"/>
        </event>
        <event type="post-delete">
            <listener class="org.compass.gps.device.hibernate.embedded.CompassEventListener"/>
        </event>
        <event type="post-collection-recreate">
            <listener class="org.compass.gps.device.hibernate.embedded.CompassEventListener"/>
        </event>
        <event type="post-collection-remove">
            <listener class="org.compass.gps.device.hibernate.embedded.CompassEventListener"/>
        </event>
        <event type="post-collection-update">
            <listener class="org.compass.gps.device.hibernate.embedded.CompassEventListener"/>
        </event>
    </session-factory>
</hibernate-configuration>
